<ul>
    <li><a href="/">Indice</a></li>
    <li><a href="/productos">Productos</a></li>
    <li><a href="/tiendas">Tiendas</a></li>
    <li><a href="/contactos">Contactos</a></li>
</ul>

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
